
body {
    font-family: Arial, sans-serif;
    background-image: url("../icons/backgroun_picture.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(0,0,0);
    margin: 0px;
    height: 100%;
}
.text-container {
    background-color: rgba(255, 255,255,0.5);
    padding: 50px;
    margin: 20px 120px;
    border-radius: 10px;
    font-size: 1.4rem;
}
.head-text {
    background-color: rgba(255, 255,255,0.5);
    margin-bottom: 5px;
}