<!DOCTYPE HTML>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
<body>
<header class="p-3 text-bg-dark" th:insert="'blocks/header.html'::header"></header>
<div >
    <h1 th:align="center" class = 'head-text'>Эко продукция в Республике Молдова</h1>
    <div >
        <div class = 'text-container'>
            <p>Экология - это наука о взаимосвязях животных, растений и микроорганизмов с их окружающей средой. Экология изучает, как организмы взаимодействуют с другими организмами и со всеми аспектами среды, в которой они живут, включая климат, географию, геологию и природные ресурсы.Одно из основных мест в нашей жизни занимает экология. Человек должен беречь природу, ведь это колыбель флоры и фауны, которые нам дарят жизнь.Удовлетворяя свои потребности человек не замечает, как высушиваются естественные водоемы, вырубаются леса, исчезает множество животных, ведь думает, что эти ресурсы безграничны. Однако это не так, двигаясь к техническому прогрессу мы уничтожаем природу, что приводит к экологическим катастрофам.</p>
        </div>
        <div class = 'text-container'>
            <p> Экопродукты - это товары, которые производятся и продаются с целью сохранения и защиты окружающей среды. Это может включать товары, которые изготовлены из органических материалов, используют возобновляемые ресурсы или имеют низкое влияние на окружающую среду в ходе их производства и использования. Экологически чистые продукты также могут использовать энергию из возобновляемых источников и иметь сертификацию экологического стандарта, который подтверждает, что продукт соответствует определенным экологическим критериям.</p>
        </div>
        <div class = 'text-container'>
            <p>Экопродукты могут быть произведены в различных сферах экономики, например, в агропромышленном секторе можно использовать органическое земледелие, в то время как в производстве текстиля можно использовать натуральные материалы, такие как хлопок и лён, вместо синтетических волокон. В производстве электронной техники экопродуктом может быть например беспроводная зарядка с энергоэффективностью.Покупка экопродуктов может помочь в поддержке экологически чистых и ответственных практик в производстве, а также поощрять более широкое их использование в будущем. Существуют специализированные магазины и интернет магазины которые продают экопродукты, а так же многие крупные ритейлеры имеют специальные разделы для экопродуктов.</p>
        </div>
    </div>
</div>
<div th:insert="'blocks/footer.html':: footer"/>

</footer>
</body>
</html>